h1 {
    text-align: center;
}

#scores {
    display: flex;
    justify-content: center;
    padding: 0 32px;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#round-result {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 800;
    padding: 16px 32px;
}

.dotted-border {
    border: 2px dotted black;
}

.solid-border {
    border: 2px solid black;
}

#human-score {
    margin-right: auto;
}

#computer-score {
    margin-left: auto;
}

#options {
    gap: 64px;
}

#options > button {
    padding: 8px;
    font-size: 16px;
    font-weight: 600
}

#results {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 32px;
    background-color: white;
}